

<section>
  <h1>Most Popular</h1>
  <ul id="recent_posts">
    <li class="post">
        <a href="/blog/2018/01/23/explaining-proof-of-work/">Blockchain Proof-of-Work is a Decentralized Clock</a>
    </li>
    <li class="post">
        <a href="/blog/2016/01/29/triple-exponential-smoothing-forecasting/">Holt-Winters Forecasting for Dummies (or Developers) - Part I</a>
    </li>
  </ul>
</section>

<section>
<!--  <h1>About Me</h1> -->
{% if site.twitter_user %}
  <p>
  <div style="width: 75%; margin: 0 auto;">
  <a href="https://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button"
    data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
  </div>
  </p>
{% endif %}
</section>
